service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service vendor.sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot

on property:ro.boot.hardware.sku=XT1922-2
    setprop ro.opengles.version 196610
    setprop ro.boot.product.hardware.sku n

on property:ro.boot.hardware.sku=XT1922-4
    setprop ro.opengles.version 196610

on property:ro.boot.hardware.sku=XT1922-5
    setprop ro.opengles.version 196610

on property:ro.boot.hardware.sku=XT1922-10
    setprop ro.opengles.version 196610

on property:ro.boot.hardware.sku=XT1922-6
    setprop ro.opengles.version 196608

on property:ro.boot.hardware.sku=XT1922-7
    setprop ro.opengles.version 196608

on property:ro.boot.hardware.sku=XT1922-9
    setprop ro.opengles.version 196608

on boot && property:ro.boot.product.hardware.sku=n
     start nfc_hal_service

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
     interface android.hardware.nfc@1.2::INfc default
     class hal
     user nfc
     group nfc
     disabled
